:root {
  --vp-c-brand-1: #5f67ee;
  --vp-c-brand-2: #4e56d9;
  --vp-c-brand-3: #3d45c4;
  --vp-c-brand-soft: rgba(95, 103, 238, 0.14);
}

.dark {
  --vp-c-brand-1: #7b82ff;
  --vp-c-brand-2: #5f67ee;
  --vp-c-brand-3: #4e56d9;
  --vp-c-brand-soft: rgba(123, 130, 255, 0.16);
}

.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4,
.vp-doc h5,
.vp-doc h6 {
  position: relative;
  font-weight: 600;
  outline: none;
}

.vp-doc a {
  font-weight: 500;
}

.vp-code-group .tabs label {
  font-size: 14px;
  font-weight: 500;
}
